---
import "@/styles/global.css"
import Footer from "@/components/Footer.astro"
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Plik na Plakat</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
